body {
  @apply font-base;
  @apply text-gray-300;
}

a,
a:visited {
  @apply text-blue-500;
  text-decoration: none;
}
a:hover {
  opacity: 0.85;
  text-decoration: underline dashed;
}

.card {
  @apply bg-gray-800;
}

/* cf. https://github.com/mapbox/storytelling/ */
/* Fix issue on mobile browser where scroll breaks */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}
